body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.registration-container h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group label {
    display: block;
    font-weight: 500;
    color: #666;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}
.form-group input:focus {
    border-color: #4CAF50;
    outline: none;
}
.submit-btn {
    width: 60%;
    background-color: #66b455;
    color: white;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover {
    background-color: #2c6341;
}

 .error-message {
     color: red;
     font-size: 0.9em;
     margin-bottom: 10px;
 }


